<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 允许应用程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许应用程序连接到配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" /> <!-- 需要能够连接到配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" /> <!-- 需要能够发现和配对附近的蓝牙设备 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 5.0之后蓝牙还需要位置权限 -->
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- internet -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 发送持久广播 -->
    <uses-permission android:name="android.permission.BROADCAST_STICKY" /> <!-- 阻止本机进入休眠状态 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 设置手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 设置相机权限 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 兼容11版本 -->
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App.XApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XmateNotes"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >

        <activity
            android:name=".OpenCameraActivity"
            android:screenOrientation="landscape"
        />
        <activity
            android:name=".CardProcessActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateVisible"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SetUpActivity"
            android:exported="false" >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ScanActivity"
            android:exported="false" />
        <activity
            android:name=".ReplayActivity"
            android:exported="false"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.qrcode.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.qrcode.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".SelectDeviceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CkplayerActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".DotInfoActivity"
            android:label="@string/dot_info"
            android:screenOrientation="landscape" />
        <activity android:name=".StatusActivity" />
        <activity
            android:name=".ScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeChatQRCodeActivity"
            android:screenOrientation="landscape"
            android:theme="@style/CameraScanTheme" />
        <activity
            android:name=".WeChatMultiQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraScanTheme" />
        <activity
            android:name=".OpenCVQRCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CameraScanTheme"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".CropActivity"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".BluetoothLEService"
            android:enabled="true" />
    </application>

</manifest>